$light-yellow: #ffeecc;
$yellow: #f2d8af;
$light-brown: #c3a375;
$brownish-red: #b3765a;
$bordeaux-red: #c54a54;

html {
  background-color: $light-yellow;
}

.container {
  margin: 0 auto;
  width: 70%;
}
