.home-page {
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../images/backgrounds/IMG_2771.jpg");
  background-size: cover;
  color: $papaya-whip;
}

.short-bio {
  flex-grow: 1;
}

.photo-description-wrapper {
  display: flex;
  align-items: center;

  .filler {
    flex-basis: 15%;
  }
}

.photo-perso {
  border-radius: 50%;
  filter: grayscale(1) contrast(1.5);
}
