@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
.navbar-wrapper {
  width: 100vw;
  margin-bottom: 2em;
}

.not-on-home-page {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.header-navbar {
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: center;
}
.header-navbar .underlining {
  border-top: 4px solid #ff5919;
  width: 0;
  transition: width 1s cubic-bezier(0, 0.94, 0.9, 0.99);
  margin-top: 2px;
}
.header-navbar a {
  font-size: 2em;
  margin-right: 16px;
  text-decoration: none;
  color: #ffeecc;
  font-weight: bold;
}
.header-navbar a:hover {
  color: #e9d985;
}
.header-navbar .current-page {
  color: #ff5919;
  font-size: 2em;
  margin-right: 16px;
  font-weight: bold;
}

.links-wrapper {
  display: flex;
}
.links-wrapper div:hover > .underlining {
  width: 88%;
}

@media only screen and (max-width: 640px) {
  .navbar-wrapper {
    font-size: 0.8rem;
  }
  .header-navbar {
    height: 15vh;
  }
}
.footer-wrapper {
  width: 100vw;
  margin-top: 2em;
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffeecc;
  display: flex;
  align-items: center;
}

footer {
  margin: 0 auto;
  width: 40%;
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-links {
  display: flex;
}
.social-links div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px;
  margin: 0 16px;
  border: 2px solid #ffeecc;
  border-radius: 50%;
}
.social-links svg {
  color: #ffeecc;
}
.social-links a:hover div {
  border: 2px solid #e9d985;
}
.social-links a:hover svg {
  color: #e9d985;
}

.footer-navigation {
  width: 100%;
  margin: 16px 0;
}
.footer-navigation nav {
  display: flex;
  justify-content: space-between;
}
.footer-navigation a {
  font-size: 1.5em;
  text-decoration: none;
  color: #ffeecc;
}
.footer-navigation a:hover {
  color: #e9d985;
}
.footer-navigation .current-page {
  color: #ff5919;
  font-size: 1.5em;
}

@media only screen and (max-width: 640px) {
  footer {
    width: 80%;
  }
}
.projects-list-wrapper a {
  color: black;
  text-decoration: none;
}

.project-card {
  height: 200px;
  display: flex;
  margin: 32px 0;
  background-color: #e9d985;
  border-radius: 4px;
  box-shadow: 3px 3px 4px gray;
}
.project-card img {
  height: 200px;
  width: 445px;
  object-fit: cover;
  margin-right: 18px;
}

.project-card-info {
  padding-right: 16px;
}

@media only screen and (max-width: 1000px) {
  .project-card {
    flex-direction: column;
    height: fit-content;
  }
  .project-card img {
    width: 100%;
    height: auto;
  }
  .project-card h2 {
    text-align: center;
  }
  .project-card-info {
    padding-left: 16px;
  }
}
.main-container {
  margin: 0 auto;
  width: 70%;
}

@media only screen and (max-width: 900px) {
  .main-container {
    width: 90%;
  }
}
.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/backgrounds/IMG_2771.jpg");
  background-size: cover;
  color: #ffeecc;
}

.short-bio {
  flex-grow: 1;
}

.photo-description-wrapper {
  display: flex;
  align-items: center;
}
.photo-description-wrapper .filler {
  flex-basis: 15%;
}

.photo-perso {
  border-radius: 50%;
  filter: grayscale(1) contrast(1.5);
}

@media only screen and (max-width: 1000px) {
  .photo-description-wrapper {
    flex-direction: column;
  }
  .home-description {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 640px) {
  .photo-perso {
    width: 75%;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-height: 470px) {
  .photo-perso {
    width: 75vh;
    margin-bottom: 1rem;
  }
}
.long-bio {
  flex-grow: 1;
}

.info-and-picture {
  display: flex;
  justify-content: space-between;
}
.info-and-picture p, .info-and-picture li {
  text-justify: none;
}

.project-information {
  flex-grow: 1;
  flex-shrink: 1;
  margin-right: 24px;
}

.project-picture {
  display: block;
  height: 300px;
  object-fit: cover;
  margin-left: 24px;
  flex-grow: 1;
  flex-shrink: 1;
  align-self: center;
}

@media only screen and (max-width: 1800px) {
  .info-and-picture {
    flex-direction: column;
  }
  .info-and-picture p, .info-and-picture li {
    text-justify: auto;
  }
  .project-picture {
    width: 75%;
    height: auto;
    margin-left: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }
}
@media only screen and (max-width: 1280px) {
  .project-picture {
    width: 100%;
  }
}
html {
  font-family: Roboto, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
}

.content h1 {
  font-size: 3em;
  margin-top: 0;
  margin-bottom: 0.3em;
}
.content h2 {
  margin-bottom: 0.1em;
}
.content p, .content li {
  font-size: 1.2em;
}

/*# sourceMappingURL=styles.css.map */