.navbar-wrapper {
  width: 100vw;
  margin-bottom: 2em;
}

.not-on-home-page {
  background: $dark-overlay;
}

.header-navbar {
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: center;

  .underlining {
    border-top: 4px solid $flax;
    width: 0;
    transition: width 1s cubic-bezier(0,.94,.9,.99);
    margin-top: 2px;
  }

  a {
    font-size: 2em;
    margin-right: 16px;
    text-decoration: none;
    color: $papaya-whip;
    font-weight: bold;
  }

  a:hover {
    color: $flax;
  }

  .current-page {
    color: $dark-orange;
    font-size: 2em;
    margin-right: 16px;
    font-weight: bold;
  }
}

.links-wrapper {
  display: flex;

  div:hover > .underlining {
    width: 65%;
  }
}
