nav {
  height: 20vh;
  display: flex;
  justify-content: end;
  align-items: center;

  a {
    font-size: 2em;
    margin-right: 16px;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  a:hover {
    color: $papaya-whip;
  }
}
