<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Portfolio de Julien Pons - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>

  <body{% if page.title == "À propos" %} class="about-page"{% else %}  class="{{ page.title | downcase }}-page"{% endif %}>
    <div class="navbar-wrapper{% if page.title != "Home" %} not-on-home-page{% endif %}">
      <div class="main-container">
        {% include navigation.html %}
      </div>
    </div>

    <div class="main-container content{% if page.title == "Home" %} short-bio{% elsif page.title == "À propos" %} long-bio{% endif %}">
      {% unless page.title == "Home" or page.layout == "project" %}<h1>{{ page.title }}</h1>{% endunless %}
      {{ content }}
    </div>

    <div class="footer-wrapper">
      {% include footer.html %}
    </div>
  </body>
</html>
